allow untrusted_app_25 fuse_device:dir { getattr open read write search setattr add_name create };
allow untrusted_app_25 fuse_device:file { getattr open read write setattr create append };
allow untrusted_app_25 fuse_device:filesystem getattr;

allow untrusted_app_25 storage_stub_file:dir getattr;
