allow untrusted_app_25 fuse_device:dir { getattr open read write search setattr add_name create };
allow untrusted_app_25 fuse_device:file { getattr setattr open read write create append };
allow untrusted_app_25 fuse_device:filesystem getattr;

